.formContainer {
  width: 909px;
  border-radius: 5px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-areas:
    "title title"
    "aboutTitle ."
    "firstName lastName"
    "location ."
    "bio bio"
    "mediaTitle ."
    "image video"
    "tutorTitle ."
    "subjects price"
    "education experience"
    "confirm confirm"
    "submit submit";
  background-color: var(--theme-color-4);
}

.title {
  grid-area: title;
  text-align: center;
  background-color: var(--theme-color-5);
  color: var(--font-color-1);
  border-radius: 5px 5px 0 0;
}
.firstName {
  grid-area: firstName;
  justify-self: center;
}
.lastName {
  grid-area: lastName;
  justify-self: center;
}
.aboutTitle {
  grid-area: aboutTitle;
  padding-left: 10px;
  color: var(--font-color-3);
  font-size: 22px;
}
.location {
  grid-area: location;
  justify-self: center;
}
.bio {
  grid-area: bio;
  text-align: center;
}
.mediaTitle {
  grid-area: mediaTitle;
  padding-left: 10px;
  color: var(--font-color-3);
  font-size: 22px;
}
.subjects {
  grid-area: subjects;
  justify-self: center;
}
.price {
  grid-area: price;
  justify-self: center;
}
.image {
  grid-area: image;
  justify-self: center;
}
.video {
  grid-area: video;
  justify-self: center;
}
.experience {
  grid-area: experience;
  justify-self: center;
}
.education {
  grid-area: education;
  justify-self: center;
}

.tutorTitle {
  grid-area: tutorTitle;
  padding-left: 10px;
  color: var(--font-color-3);
  font-size: 22px;
}
.submit {
  grid-area: submit;
  width: 200px;
  justify-self: center;
}

.confirm {
  grid-area: tick;
  margin-top: 30px;

  width: 350px;
  height: 350px;
  background-image: url("../../images//TICK.png");
  background-repeat: none;
  color: var(--font-color-1);
}

.confirmContainer {
  justify-self: center;
  text-align: center;
  grid-area: confirm;
  display: grid;
  grid-template-areas:
    "tick"
    "head";
}

.confirmHeader {
  color: var(--font-color-3);
  justify-self: center;
  text-align: center;
  grid-area: head;
}
