.resultsListContainer {
  list-style: none;
}

.tutorContainer {
  margin: 2em;
  padding: 1em;
  background-color: var(--theme-color-4);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 200px 57px;
  grid-template-areas:
    "image details aboutTitle"
    "image  details aboutContent"
    "image details aboutContent";
  column-gap: 1vw;
  box-shadow: 0 0 5px var(--shadow-color);
}
