.mainContainer {
  grid-area: search;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
.filterContainer {
  width: 20vw;
  background-color: var(--theme-color-2);
  grid-area: filter;
  height: 100%;
  display: grid;
  grid-template-rows: auto repeat(6 10px);
  grid-template-areas:
    "title title"
    "subject subject"
    "subjectValue subjectValue"
    "price priceDisplay"
    "priceValue priceValue"
    "experience experienceDisplay"
    "experienceValue experienceValue";
}

.filterTitle {
  grid-area: title;
  display: flex;
  justify-content: center;
}
