.container {
  display: grid;
  background-color: white;
  grid-template-areas:
    "image"
    "text";
  grid-template-rows: 1fr 1fr;

  box-shadow: 0 0 8px var(--shadow-color);
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.img {
  grid-area: image;
}

.text {
  grid-area: text;
}
