.mainContainer {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 20vw 1fr;
  padding-top: 20vh;
}

.navContainer {
  grid-area: nav;
  margin-left: 100px;
  border-radius: 20px;
  margin-top: 2vh;
  position: fixed;
  background-color: var(--theme-color-4);
  color: var(--font-color-5);
  grid-area: filter;
  box-shadow: 0 5px 5px var(--shadow-color);
  height: 70%;
  width: 22%;
}

.contentContainer {
  grid-area: content;
  justify-content: center;
  align-content: center;
}
