.mainContainer {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 20vw 1fr;
  padding-top: 20vh;
}

.navContainer {
  grid-area: nav;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 0px;
  position: fixed;
  background-color: var(--theme-color-4);
  color: var(--font-color-5);
  height: 253px;
  width: 308px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 9px #0000000f;
  border-radius: 5px;
  opacity: 1;
}

.contentContainer {
  width: 909px;
  height: 618px;
  max-height: 800px;
  overflow: scroll;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 9px #0000000f;
  border-radius: 5px;
  opacity: 1;
  grid-area: content;
  justify-content: center;
  align-content: center;
  margin-left: 70px;
  margin-top: 0px;
}
