.bookingCard {
  position: fixed;
  top: 110px;
  width: 40vw;
  z-index: 10;
  background-color: var(--theme-color-3);
  color: var(--theme-color-1);
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--shadow-color);
  row-gap: 1vh;
  display: grid;
  grid-template-areas:
    "header"
    "picker"
    "confirmation"
    "name"
    "email"
    "notes"
    "booking"
    "button";
}

.header {
  grid-area: header;
  text-align: center;
  justify-content: center;
  background-color: var(--theme-color-1);
  color: var(--font-color-1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
}

.picker {
  grid-area: picker;
}

.confirmation {
  grid-area: confirmation;
  text-align: center;
  margin: 10px;
  height: 5px;
}

.notes {
  grid-area: notes;
  text-align: center;
}

.inputField {
  max-width: 500px;
  max-height: 200px;
  height: 150px;
  width: 300px;
  background-color: var(--theme-color-4);
  border-radius: 5px;
}

.name {
  grid-area: name;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.email {
  grid-area: email;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.button {
  grid-area: button;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.closeWindow {
  position: absolute;
  grid-area: header;
  background-color: var(--theme-color-5);
  color: var(--font-color-1);
  border-radius: 50px;
  transform: translate(40vw, -20px);
  width: 25px;
  height: 25px;
  text-align: center;
  float: right;
  line-height: 1.8;
  border: white 2px solid;
}

.booking {
  grid-area: booking;
  margin-top: 30px;
  justify-self: center;
  width: 300px;
  height: 30px;
  background-color: rgb(35, 177, 35);
  color: var(--font-color-1);
  text-align: center;
  border-radius: 20px;
  border: white 2px solid;
}

.closeWindow:hover {
  cursor: pointer;
  border: var(--theme-color-1) 2px solid;
}
