.mainContainer {
  display: grid;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
  margin-top: 19px;
  margin-left: 150px;
  height: 600px;
  width: 70%;
  background-color: var(--theme-color-4);
  color: var(--font-color-5);
  box-shadow: 0 5px 5px var(--shadow-color);
  border-radius: 20px;
}

.gridItem {
  background: var(--theme-color-4);
  box-shadow: 0 5px 5px var(--shadow-color);
  border-radius: 20px;
  display: grid;
  border: 1px solid black;
  height: 70%;
  width: 70%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
