.resultsListContainer {
  list-style: none;
}

.tutorContainer {
  margin: 3em;
  padding: 1em;
  background-color: var(--theme-color-4);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "profile about details";
  column-gap: 1vw;
  border-radius: 20px;
  box-shadow: 0 5px 5px var(--shadow-color);
}

.tutorProfile {
  grid-area: profile;
  display: grid;
  grid-template-areas: "name" "image" "rating";
}

.tutorAbout {
  grid-area: about;
  display: grid;
  grid-template-areas: "title" "image" "rating";

  border-radius: 20px;
}
.tutorDetails {
  grid-area: details;
  display: grid;
  grid-template-areas: "detailTitle" "details" "book";
  row-gap: 1vw;
  padding: 1em;
  border-radius: 20px;
}
