.resultsListContainer {
  list-style: none;
}

.tutorContainer {
  margin: 3em;
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "profile about details";
}

.tutorAbout {
  grid-area: about;
  display: grid;
  grid-template-areas: "title" "image" "rating";
}
.tutorTitle {
  grid-area: title;
}
.tutorImage {
  grid-area: image;
}
.tutorRating {
  grid-area: rating;
}

.tutorDetails {
  grid-area: details;
}

.detailsContainer {
  grid-area: details;
  grid-template-areas:
    "location"
    "subject"
    "level"
    "experience"
    "price";
}
.tutotLocation {
  grid-area: location;
}
.tutorSubject {
  grid-area: subject;
}
.tutorLevel {
  grid-area: level;
}
.tutorExperience {
  grid-area: experience;
}
.tutorPrice {
  grid-area: price;
}

.tutorBioContainer {
  grid-area: bio;
  display: grid;
  grid-template-areas:
    "aboutme education"
    "text text";
}
.tutorBioTitle {
  grid-area: aboutme;
}
.tutorEducationTitle {
  grid-area: education;
}
.tutorBio {
  grid-area: text;
}
.viewButton {
  grid-area: buttons;
}
.bookButton {
  grid-area: buttons;
}
