@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
:root {
  --theme-color-1: #546e8f;
  --theme-color-2: #ff9d9d;
  --theme-color-3: #f1f1f1;
  --theme-color-4: #fff;
  --theme-color-5: #5c5c5c;
  --background-color: #e5e5e5;
  --font-color-1: #fff;
  --font-color-2: #fff;
  --font-color-3: #ff9d9d;
  --font-color-4: #546e8f;
  --font-color-5: #5c5c5c;
  --shadow-color: #5c5c5c;
  font-family: "Baloo Bhaina 2", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}
