.titleContainer {
  grid-template-columns: repeat(3, 1fr);
  grid-area: aboutTitle;
  display: grid;
  grid-template-areas: "video test about";
}

.itemAlign {
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.videoTitle {
  grid-area: video;
}
.videoTitle:hover {
  cursor: pointer;
}
.videoContainer {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutTitle {
  grid-area: about;
}
.aboutTitle:hover {
  cursor: pointer;
}
.testTitle {
  grid-area: test;
}
.testTitle:hover {
  cursor: pointer;
}

.selectedTitle {
  color: var(--font-color-3);
}
.aboutContent {
  grid-area: aboutContent;
  background-color: var(--theme-color-3);
  box-shadow: 0 5px 5px var(--shadow-color);
}
