.mainContainer {
  box-sizing: border-box;
  background-color: var(--theme-color-1);
  border: var(--theme-color-3) 1px solid;
  text-align: center;
  margin: 5px;
  width: 80%;
}

.mainContainer:hover {
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--theme-color-2);
  border: var(--theme-color-1) 1px solid;
}
