.mainContainer {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.searchInput {
  width: 60%;
  height: 2em;
}

.advancedSearch {
  color: blue;
  text-decoration: underline;
}
.advancedSearch:hover {
  cursor: pointer;
  color: rgb(94, 94, 139);
  text-decoration: underline;
}

.searchButton {
  height: 30px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
