.li {
  padding-left: 12px;
  height: 45px;
  width: 295px;
  opacity: 1;
  display: grid;
  grid-template-areas: "img button";
  grid-template-columns: 31px 1fr;
  padding-top: 15px;
}

.img {
  grid-area: img;
  width: 5px;
}
