.image {
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  width: 180px;
  height: 180px;
  margin-bottom: 3em;
}

.textDiv {
  width: 200px;
  height: 260px;
}

.head {
  font-weight: 900;
}
