.tutorTitle {
  grid-area: displayTitle;
  color: var(--font-color-3);
}
.tutorImage {
  grid-area: image;
  width: 200px;
  height: 200px;
}
.tutorRating {
  grid-area: rating;
}

.itemAlign {
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
