.mainContainer {
  display: grid;
  background-color: lightgrey;
  height: 91vh;
  width: 100vw;
  grid-template-areas:
    "how how how how"
    "one two three four";
}

.how {
  grid-area: how;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100px;
}

.one {
  grid-area: one;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;
}

.two {
  grid-area: two;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;
}

.three {
  grid-area: three;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;
}

.four {
  grid-area: four;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;
}

.img {
  height: 70px;
  position: absolute;
  top: 123%;
  padding-left: 316px;
}
