.mainContainer {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  margin-top: 18vh;
  /* justify-content: center; */
  align-items: center;
  height: 1fr;
}

.searchTitle {
  margin-bottom: 3em;
  color: var(--font-color-5);
}

.advancedSearch {
  color: blue;
  text-decoration: underline;
}
.advancedSearch:hover {
  cursor: pointer;
  color: rgb(94, 94, 139);
  text-decoration: underline;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
