.imageContainer {
  border-radius: 20px;
  background-color: white;
  justify-content: center;
  width: 70%;
  height: 70%;
  margin: 0;
  padding: 10px;
}

.imageContainer:hover {
  cursor: pointer;
  background-color: var(--theme-color-2);
  color: var(--font-color-5);
}
