.imageContainer {
  background-color: white;
  justify-content: center;
  width: 70%;
  height: 70%;
  margin: 0;
  padding: 10px;

}

.imageContainer:hover {
  cursor: pointer;
  background-color: var(--theme-color-2);
  color: var(--font-color-5);
}

.text {
  text-align: left;
  width: 200px;
  height: 51px;
  font: Regular 11px/21px Baloo Bhai 2;
  letter-spacing: 0px;
  color: #777b96;
  opacity: 1;
}

.resource {
  width: 100px;
  height: 29px;
  text-align: left;
  font: Medium 18px/18px Baloo Bhai 2;
  letter-spacing: 0px;
  color: #777b96;
  opacity: 1;
}
