.mainContainer {
  display: grid;
  position: absolute;
  left: 50vw;
  align-content: center;
  justify-content: center;
  transform: translateX(-50%);
  padding: 0;
  width: 45vw;
}

.formContainer {
  margin-top: 20vh;
  display: grid;
  position: fixed;
}

.buttons {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
