.mainContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}

.h1 {
  text-align: center;
}

.bookingCard {
  background-color: var(--theme-color-4);
  border-radius: 20px;
  height: 20%;
  width: 100%;
  grid-template-areas:
    "date"
    "name"
    "notes"
    "buttons";
  align-items: center;
  justify-items: center;
  padding: 1em;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px var(--shadow-color);
}

.date {
  display: flex;
  flex-direction: row;
  grid-area: date;
  justify-content: space-between;
  /* justify-items: center;
  align-items: center;
  align-content: center; */
}

.name {
  grid-area: name;
  display: flex;
}

.notes {
  display: flex;
  grid-area: notes;
  align-items: flex-start;
}

.buttons {
  display: flex;
  align-items: center;
  grid-area: buttons;
}
