.navBarContainer {
  background-color: var(--theme-color-1);
  height: 10vh;
  width: 100vw;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "login title search";
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: login;
}

.title {
  color: var(--font-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title;
}

.searchField {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: search;
}
