.navBarContainer {
  background-color: var(--theme-color-1);
  height: 70px;
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "login title search";
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: login;
}

.title {
  color: var(--font-color-1);
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  grid-area: title;
}

.doceo:hover {
  cursor: pointer;
}

.searchField {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: search;
}

.actualButton {
  background-color: var(--theme-color-1);
}
